.fileMIME-icon {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    background: url('images/icons-big.png') 0 0 no-repeat;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.fileMIME .elfinder-droppable-active .fileMIME-icon {
    background-position: 0 -100px;
}

.fileMIME-icon-directory {
    background-position: 0 -50px;
}

.fileMIME-icon-application {
    background-position: 0 -150px;
}

.fileMIME-icon-x-empty,.fileMIME-icon-text {
    background-position: 0 -200px;
}

.fileMIME-icon-image,.fileMIME-icon-vnd-adobe-photoshop,.fileMIME-icon-postscript {
    background-position: 0 -250px;
}

.fileMIME-icon-audio {
    background-position: 0 -300px;
}

.fileMIME-icon-video,.fileMIME-icon-flash-video {
    background-position: 0 -350px;
}

.fileMIME-icon-rtf,.fileMIME-icon-rtfd {
    background-position: 0 -401px;
}

.fileMIME-icon-pdf {
    background-position: 0 -450px;
}

.fileMIME-icon-vnd-ms-office,.fileMIME-icon-msword,.fileMIME-icon-vnd-ms-word,.fileMIME-icon-vnd-oasis-opendocument-text,.fileMIME-icon-ms-excel,.fileMIME-icon-vnd-ms-excel,.fileMIME-icon-vnd-oasis-opendocument-spreadsheet,.fileMIME-icon-vnd-openxmlformats-officedocument-spreadsheetml-sheet,.fileMIME-icon-vnd-ms-powerpoint,.fileMIME-icon-vnd-oasis-opendocument-presentation {
    background-position: 0 -500px;
}

.fileMIME-icon-html {
    background-position: 0 -550px;
}

.fileMIME-icon-css {
    background-position: 0 -600px;
}

.fileMIME-icon-javascript,.fileMIME-icon-x-javascript {
    background-position: 0 -650px;
}

.fileMIME-icon-x-perl {
    background-position: 0 -700px;
}

.fileMIME-icon-x-python {
    background-position: 0 -750px;
}

.fileMIME-icon-x-ruby {
    background-position: 0 -800px;
}

.fileMIME-icon-x-sh,.fileMIME-icon-x-shellscript {
    background-position: 0 -850px;
}

.fileMIME-icon-x-c,.fileMIME-icon-x-csrc,.fileMIME-icon-x-chdr,.fileMIME-icon-x-c--,.fileMIME-icon-x-c--src,.fileMIME-icon-x-c--hdr,.fileMIME-icon-x-java,.fileMIME-icon-x-java-source {
    background-position: 0 -900px;
}

.fileMIME-icon-x-php {
    background-position: 0 -950px;
}

.fileMIME-icon-xml {
    background-position: 0 -1000px;
}

.fileMIME-icon-zip,.fileMIME-icon-x-zip,.fileMIME-icon-x-7z-compressed {
    background-position: 0 -1050px;
}

.fileMIME-icon-x-gzip,.fileMIME-icon-x-tar {
    background-position: 0 -1100px;
}

.fileMIME-icon-x-bzip,.fileMIME-icon-x-bzip2 {
    background-position: 0 -1150px;
}

.fileMIME-icon-x-rar,.fileMIME-icon-x-rar-compressed {
    background-position: 0 -1200px;
}

.fileMIME-icon-x-shockwave-flash {
    background-position: 0 -1250px;
}

.fileMIME-icon-group {
    background-position: 0 -1300px;
}
